* { box-sizing: border-box; }

.calcHead
{
    text-align: center;
    font-style: oblique;
    font-family: Fantasy, Arial, Helvetica, sans-serif;
}

body
{
    background-color: rgb(206, 231, 208);
}

#perimContainer
{
    display: grid;
    border: 4px solid black;
    border-radius: 8px;
    width: 400px;
    height: 475px;
    margin: auto;
    margin-top: 10px;
    background-color: black;
    overflow: hidden;
    box-shadow: 10px 10px 5px grey;
}

#allButtons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    /* Can use grid-gap: .5rem to make an even space between buttons*/
}

#display
{
    display: grid;
    border-radius: 1%;
    border: 4px solid black;
    background-color: black;
    border-radius: 4px;
    color: white;
    font-size: 50px;
    text-align: right;
    height: 0px;
    max-width: 395px;
}

button /*since font size doesn't inherit by default i can set it here for ALL buttons - notice it's not a class or ID*/
{
    font: inherit;
    font-size: 45px;
    outline: none;
}
button:active
{
    transform: scale(1.02);
}
button:hover
{
    background-color: black;
    color: white;
}

#equalButton
{
    background-color: rgb(16, 150, 150);
    color: white;
    grid-column-start: 3;
    grid-column-end: 5;
}
#equalButton:hover
{
    background-color: rgb(25, 134, 134);
}

#clearButton
{
    color: black;
    background-color: rgb(236, 108, 108);
    grid-column-start: 1;
    grid-column-end: 4;
}
#clearButton:hover
{
    background-color: rgb(245, 92, 92);
}

.operator
{
    background-color: gray;
}

#plusButton
{
    grid-column-start: 4;
    grid-column-end: 4;
}

#zeroButton
{
    grid-column-start: 2;
    grid-column-end: 2;
}